/* tablet */

@media all and (min-width: 480px) and (max-width: 768px) {
  div.copy h2,
  div.copy-two h2,
  div.copy-three h2,
  div.copy-four h2 {
    font-size: 72px;
    line-height: 1;
  }

  div.circle {
    left: 5px;
  }

  div.square {
    width: 90px;
    height: 90px;
  }

  .content .copy {
    left: 50%;
  }

  .content .copy-two {
    right: 0;
  }

  .content .copy-four {
    left: 60%;
  }

  div.social-links-footer a {
    line-height: 1.2;
    font-size: 32px;
    margin-right: 12px;
  }
}

/* mobile */

@media (max-width: 480px) {
  a.menu-toggle {
    right: -240px;
  }

  ul > li {
    font-size: 80px;
  }

  section.natural {
    right: 10%;
  }

  div.copy h2 {
    font-size: 32px;
  }

  div.circle {
    left: -15px;
    width: 80px;
    height: 80px;
  }

  div.square {
    width: 80px;
    height: 80px;
  }

  .content .copy-two {
    right: -65%;
  }

  .content .copy-four {
    left: 200%;
  }

  section.lookbook {
    width: 800px;
  }

  div.copy h2,
  div.copy-two h2,
  div.copy-three h2,
  div.copy-four h2 {
    font-size: 54px;
  }

  .mobile-dim {
    left: -40px;
  }

  section.s4 div.square-two {
    top: 450px;
  }

  footer {
    width: 700px;
  }

  div.social-links-footer a {
    margin-right: 5px;
    font-size: 32px;
    line-height: 1.3;
  }
}
